body {
    background-color: #cde8d7;
    font-family: sans-serif;
}

.container {
    max-width: 60rem;
    margin: 0 auto;
}

.movie-card {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 3px;
    display: flex;
    gap: 1rem;
}

.movie-card h2 {
    font-weight: normal;
    color: #45B788;
    margin: 0;
}

.movie-card p {
    margin: 0;
    color: #1f714f;
}

.movie-card img {
    height: 120px;
}

.movie-card .image-container {
    flex-shrink: 1;
}

.movie-card .content {
    flex: 1;
}

.btn-submit {
    background-color: #45B788;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    border: none;
}

.input-container label {
    color: #1f714f;
    display: block;
}

.input-container input, textarea {
    padding: 0.5rem;
    flex: 1;
    border: none;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-bottom: 1rem;
}

.flex  {
    display: flex;
}